<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
  </head>
  <style>
    * {
      margin: 20px;
    }
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    a {
      text-decoration: none;
      padding: 20px;
      border: 2px solid rgb(97, 82, 0);
      background: green;
      font-size: 40px;
      color: aqua;
      border-radius: 5px;
    }

    a:hover {
      background: aqua;
      color: green;
    }

    h1 {
      font-size: 60px;
      color: cadetblue;
    }
  </style>
  <body>
    <h1>Secure Chat</h1>
    <a href="/register"> Register</a> <br />
    <a href="/login">Login</a>
  </body>
</html>
